.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6.7rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--cor-bg);
}

.header .logo {
  font-size: 3rem;
}

.header .logo span {
  color: var(--cor-padrao);
}

.header .navegacao .nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.7rem;
}

.header .navegacao .nav-list li a {
  transition: all 0.3s ease;
}

.header .navegacao .nav-list li a.actived::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 100%;
  top: 5px;
  background: var(--cor-padrao);
  transition: all 0.3s;
}

.header .navegacao .nav-list li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

.header .navegacao .nav-list li > a:hover::after,
li > a.active-nav::after {
  width: 100%;
  background: var(--cor-padrao);
}

.header .navegacao .nav-list li button {
  all: unset;
  cursor: pointer;
}

.header .navegacao .nav-list li #dark-icon {
  color: #fafafa;
}

#active-flag {
  width: 3rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#active-flag:hover {
  transform: scale(1.1);
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--cor-do-hamburguer);
  margin: 8px;
  transition: 0.3s;
}

.botoes {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
