@media (max-width: 1415px) {
  main {
    grid:
      "principal" 100vh
      "sobre" minmax(100vh, 150vh)
      "projetos" minmax(100vh, 160vh)
      "habilidades" minmax(100vh, 160vh)
      "footer" auto;
  }

  .projetos {
    justify-content: flex-start;
  }

  .projetos .container-projetos {
    gap: 5rem;
  }
}

@media (max-width: 1200px) {
  .habilidades {
    display: grid;
    grid:
      "hard" 600px
      "soft" 600px;
    grid-template-columns: minmax(100px, 600px);
    grid-gap: 0;
  }
}

@media (max-width: 900px) {
  .header .menu {
    display: block;
  }

  .header .navegacao ul {
    display: none;
  }

  .header input:checked ~ ul {
    display: block;
  }

  .header .navegacao {
    position: absolute;
    top: 8px;
    right: 2rem;
    z-index: 1;
  }

  .header .navegacao ul {
    width: 20rem;
    background-color: var(--cor-bg);
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px var(--cor-da-sombra);
  }

  .header .navegacao ul li a {
    text-align: center;
    padding: 2rem;
    display: block;
  }

  .header .navegacao ul li:last-child {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  main {
    grid:
      "principal" 100vh
      "sobre" minmax(100vh, 150vh)
      "projetos" minmax(100vh, 230vh)
      "habilidades" minmax(100vh, 180vh)
      "footer" auto;
  }
}

@media (max-width: 600px) {
  .habilidades {
    display: grid;
    grid:
      "hard" 600px
      "soft" 600px;
    grid-template-columns: minmax(100px, 300px);
    grid-gap: 15rem;
  }

  .habilidades .soft-skills {
    grid-area: soft;
    grid:
      "soft soft"
      "ss1 ss2"
      "ss3 ss4"
      "ss5 ss6";
    grid-gap: 0 5rem;
  }

  .habilidades .hard-skills {
    grid-area: hard;
    grid:
      "hard hard"
      "hs1 hs2"
      "hs3 hs4"
      "hs5 hs6";
    grid-gap: 0 5rem;
  }

  .habilidades .hard-skills,
  .habilidades .soft-skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
  }
}

@media (max-width: 550px) {
  .principal .titulo {
    font-size: 6rem;
  }

  .principal .subtitulo {
    font-size: 4rem;
  }

  .principal .redes-sociais ul {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
  }

  .sobre .titulo-sobre {
    font-size: 3.5rem;
  }

  .sobre .conteudo-sobre {
    max-width: 35rem;
    text-align: justify;
  }

  .sobre .conteudo-sobre h3 {
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
  }
}

@media (max-width: 450px) {
  .footer {
    padding: 0 5rem;
  }

  .footer p {
    width: 20rem;
  }
}

@media (max-width: 425px) {
  main {
    grid:
      "principal" 100vh
      "sobre" minmax(100vh, 130vh)
      "projetos" minmax(100vh, 200vh)
      "habilidades" minmax(100vh, 180vh)
      "footer" auto;
      grid-gap: 15rem;
  }

  .principal .titulo {
    font-size: 4rem;
  }

  .principal .subtitulo {
    font-size: 2.5rem;
  }

  .sobre {
    flex-direction: column;
    gap: 3rem;
  }

  .sobre .imagem-sobre {
    width: 30rem;
    height: 30rem;
  }

  .sobre .titulo-sobre {
    text-transform: uppercase;
    font-size: 3rem;
  }

  .sobre .conteudo-sobre {
    max-width: 30rem;
    text-align: justify;
  }

  .sobre .conteudo-sobre h3 {
    font-size: 2rem;
    padding-bottom: 1.6rem;
  }

  .projetos .container-projetos .container {
    width: 300px;
    height: 400px;
  }

  .projetos .container-projetos .container .projeto {
    width: 280px;
    height: 200px;
  }

  .projetos h2 {
    font-size: 3rem;
    padding-bottom: 6rem;
  }

  .habilidades h2 {
    font-size: 3rem;
    padding-bottom: 7rem;
  }

  .projetos .container-projetos .container .info-projeto {
    margin-bottom: 1rem;
  }

  .projetos .container-projetos .container .projeto {
    margin-top: 5px;
  }
}
