@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  background-color: var(--cor-bg);
  color: var(--cor-da-letra);
}

main {
  display: grid;
  grid:
    "principal" 100vh
    "sobre" 100vh
    "projetos" 100vh
    "habilidades" 100vh
    "footer" auto;
}

.principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-area: principal;
}

.principal .titulo {
  font-size: 7rem;
}

.principal .subtitulo {
  font-size: 5rem;
}

.principal .subtitulo span {
  color: var(--cor-padrao);
}

.principal .redes-sociais ul {
  display: flex;
  gap: 3rem;
  font-size: 2.5rem;
}

.principal .redes-sociais ul a {
  transition: 0.2s ease-in-out;
}

.principal .redes-sociais ul a:hover {
  color: var(--cor-padrao);
}

.principal .fa-arrow-down {
  font-size: 3rem;
  position: absolute;
  bottom: 12rem;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.sobre {
  display: flex;
  flex-direction: column;
  grid-area: sobre;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.sobre .titulo-sobre {
  text-transform: uppercase;
  font-size: 4rem;
}

.sobre .titulo-sobre span {
  color: var(--cor-padrao);
}

.sobre .conteudo-sobre {
  max-width: 50rem;
  text-align: justify;
}

.sobre .conteudo-sobre h3 {
  font-size: 3rem;
  padding-bottom: 1.6rem;
}

.sobre .conteudo-sobre h3 span {
  color: var(--cor-padrao);
}

.sobre .conteudo-sobre p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-bottom: 3rem;
}

.sobre .conteudo-sobre a {
  background-color: var(--cor-padrao);
  padding: 1rem 2rem;
  border: 1px solid var(--cor-padrao);
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.4rem;
}

.sobre .conteudo-sobre a:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--cor-padrao);
  color: var(--cor-padrao);
}

.projetos {
  grid-area: projetos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projetos h2 {
  font-size: 4rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
}

.projetos h2 span {
  color: var(--cor-padrao);
}

.projetos .container-projetos {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.projetos .container-projetos .container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 3px var(--cor-da-sombra);
  border-radius: 2rem;
  padding: 1rem;
}

.projetos .container-projetos .container .projeto {
  width: 380px;
  height: 250px;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px 2px var(--cor-da-sombra);
}

.projetos .container-projetos .container .info-projeto {
  margin-top: 2rem;
}

.projetos .container-projetos .container .info-projeto h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.projetos .container-projetos .container .info-projeto p {
  font-size: 1.4rem;
  text-align: justify;
  padding: 1.5rem 0;
}

.projetos .container-projetos .container .links-projeto {
  display: flex;
  justify-content: space-between;
}

.projetos .container-projetos .container .links-projeto a {
  font-size: 1.2rem;
  background-color: var(--cor-padrao);
  width: 130px;
  color: #fff;
  padding: 1rem;
  border-radius: 12rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid var(--cor-padrao);
}

.projetos .container-projetos .container .links-projeto a:hover {
  background-color: #fff;
  color: var(--cor-padrao);
}

.projetos .container-projetos .container .projeto .imagem-link {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.projetos .container-projetos .container .projeto img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.projetos .container-projetos .container .projeto .imagem-link::before {
  content: "";
  background-color: var(--cor-padrao);
  border-radius: 2rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.projetos .container-projetos .container .projeto .imagem-link:hover::before {
  opacity: 0.4;
}

.projetos .container-projetos .container .projeto .imagem-link::after {
  content: "";
  background: url(../images/icon-view.svg) center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.projetos .container-projetos .container .projeto .imagem-link:hover::after {
  opacity: 1;
}

.habilidades {
  grid-area: habilidades;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habilidades h2 {
  font-size: 4rem;
  padding-bottom: 7rem;
  text-transform: uppercase;
}

.habilidades h2 span {
  color: var(--cor-padrao);
}

.habilidades {
  display: grid;
  grid: "hard soft";
  grid-template-columns: repeat(2, minmax(100px, 600px));
  grid-gap: 16rem;
}

.habilidades .soft-skills {
  grid-area: soft;
  grid:
    "soft soft soft"
    "flexibilidade comunicacao criatividade"
    "organizacao inteligencia adaptabilidade";
}

.habilidades .hard-skills {
  grid-area: hard;
  grid:
    "hard hard hard"
    "html css js"
    "git python clean";
}

.habilidades .hard-skills,
.habilidades .soft-skills {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
}

.habilidades .hard-skills .html,
.css,
.js,
.git,
.python,
.clean-code {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.habilidades .hard-skills .html .fa-html5,
.css .fa-css3-alt,
.js .fa-js,
.git .fa-git-alt,
.python .fa-python,
.clean-code .fa-code {
  font-size: 10rem;
  color: var(--cor-padrao);
}

.habilidades .hard-skills .html h3,
.css h3,
.js h3,
.git h3,
.python h3,
.clean-code h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2rem 0;
  text-align: center;
}

.habilidades .hard-skills .titulo-hard {
  grid-area: hard;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidades .soft-skills .titulo-soft {
  grid-area: soft;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidades .hard-skills .html {
  grid-area: html;
}

.habilidades .hard-skills .css {
  grid-area: css;
}

.habilidades .hard-skills .js {
  grid-area: js;
}

.habilidades .hard-skills .git {
  grid-area: git;
}

.habilidades .hard-skills .python {
  grid-area: python;
}

.habilidades .hard-skills .clean-code {
  grid-area: clean;
}

.habilidades .soft-skills .flex {
  grid-area: flexibilidade;
}

.habilidades .soft-skills .comun {
  grid-area: comunicacao;
}

.habilidades .soft-skills .cria {
  grid-area: criatividade;
}

.habilidades .soft-skills .orga {
  grid-area: organizacao;
}

.habilidades .soft-skills .inte {
  grid-area: inteligencia;
}

.habilidades .soft-skills .adap {
  grid-area: adaptabilidade;
}

.habilidades .soft-skills .flex,
.comun,
.cria,
.orga,
.inte,
.adap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.habilidades .soft-skills .flex .fa-person,
.comun .fa-comments,
.cria .fa-shapes,
.orga .fa-briefcase,
.inte .fa-brain,
.adap .fa-users {
  font-size: 7.6rem;
  color: var(--cor-padrao);
}

.habilidades .soft-skills .flex h3,
.comun h3,
.cria h3,
.orga h3,
.inte h3,
.adap h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2rem 0;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: var(--cor-padrao);
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: center;
}

.footer p {
  font-size: 1.3rem;
  color: #000;
}

.footer p a {
  font-size: 1.3rem;
  color: #000;
}

.footer p a:hover {
  text-decoration: underline;
}

.footer .voltar .fa-arrow-up {
  font-size: 2rem;
  color: #000;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.principal .fa-arrow-down {
  font-size: 3rem;
  position: absolute;
  bottom: 12rem;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}
