@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  background-color: var(--cor-bg);
  color: var(--cor-da-letra);
  height: 100vh;
  margin: 0 auto;
}

main {
  display: grid;
  grid:
    "principal" 100vh
    "sobre" 100vh
    "projetos" 100vh
    "habilidades" 100vh
    "footer" auto;
}

.principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-area: principal;
}

.principal .titulo {
  font-size: 7rem;
}

.principal .subtitulo {
  font-size: 5rem;
}

.principal .subtitulo .auto-type {
  color: var(--cor-padrao);
}

.principal .redes-sociais ul {
  display: flex;
  gap: 3rem;
  font-size: 2.5rem;
}

.principal .redes-sociais ul a {
  transition: 0.2s ease-in-out;
}

.principal .redes-sociais ul a:hover {
  color: var(--cor-padrao);
}

.principal .fa-arrow-down {
  font-size: 3rem;
  position: absolute;
  bottom: 12rem;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.sobre {
  display: flex;
  grid-area: sobre;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.sobre .imagem-sobre {
  width: 40rem;
  height: 40rem;
}

.sobre .imagem-sobre img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--cor-da-letra);
}

.sobre .conteudo-sobre .titulo-sobre {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.sobre .conteudo-sobre .titulo-sobre span {
  color: var(--cor-padrao);
}

.sobre .conteudo-sobre {
  max-width: 50rem;
  text-align: justify;
}

.sobre .conteudo-sobre h3 {
  font-size: 3rem;
  padding-bottom: 1.6rem;
}

.sobre .conteudo-sobre h3 span {
  color: var(--cor-padrao);
}

.sobre .conteudo-sobre p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-bottom: 3rem;
}

.sobre .conteudo-sobre a {
  background-color: var(--cor-padrao);
  padding: 1rem 2rem;
  border: 1px solid var(--cor-padrao);
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.4rem;
}

.sobre .conteudo-sobre a:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--cor-padrao);
  color: var(--cor-padrao);
}

.projetos {
  grid-area: projetos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projetos h2 {
  font-size: 4rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
}

.projetos h2 span {
  color: var(--cor-padrao);
}

.projetos .container-projetos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.projetos .container-projetos .container {
  display: flex;
  flex-direction: column;
  width: 371px;
  height: 46rem;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 3px var(--cor-da-sombra);
  border-radius: 2rem;
  padding: 1rem;
}

.projetos .container-projetos .container .projeto {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
}

.projetos .container-projetos .container .info-projeto {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.projetos .container-projetos .container .info-projeto .tecnologias {
  display: flex;
  gap: 1.2rem;
}

.projetos .container-projetos .container .info-projeto .tecnologias p {
  border: 1px solid #BEBFC5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #BEBFC5;
  color: #fff;
}

.projetos .container-projetos .container .info-projeto h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.projetos .container-projetos .container .info-projeto p {
  font-size: 1.4rem;
  text-align: justify;
}

.projetos .container-projetos .container .links-projeto {
  display: flex;
  gap: 2rem;
  padding: 0 0 1.3rem 1.3rem;
}

.projetos .container-projetos .container .links-projeto a {
  font-size: 3rem;
}

.projetos .container-projetos .container .links-projeto a:hover {
  color: var(--cor-padrao);
}

.projetos .container-projetos .container .projeto img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
  mask-image: linear-gradient(to top, transparent 0%, var(--cor-bg) 50%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.projetos .container-projetos .container .projeto:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.habilidades {
  grid-area: habilidades;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid: "hard soft";
  grid-template-columns: repeat(2, minmax(100px, 600px));
  grid-gap: 16rem;
}

.habilidades h2 {
  font-size: 4rem;
  padding-bottom: 7rem;
  text-transform: uppercase;
}

.habilidades h2 span {
  color: var(--cor-padrao);
}

.habilidades .soft-skills {
  grid-area: soft;
  grid:
    "soft soft soft"
    "ss1 ss2 ss3"
    "ss4 ss5 ss6";
}

.habilidades .hard-skills {
  grid-area: hard;
  grid:
    "hard hard hard"
    "hs1 hs2 hs3"
    "hs4 hs5 hs6";
}

.habilidades .hard-skills,
.habilidades .soft-skills {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
}

.habilidades .hard-skills .hs1,
.hs2,
.hs3,
.hs4,
.hs5,
.hs6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.habilidades .hard-skills .hs1 .fa-html5,
.hs2 .fa-css3-alt,
.hs3 .fa-js,
.hs4 .fa-git-alt,
.hs5 .fa-python,
.hs6 .fa-database {
  font-size: 10rem;
  color: var(--cor-padrao);
}

.habilidades .hard-skills .hs1 h3,
.hs2 h3,
.hs3 h3,
.hs4 h3,
.hs5 h3,
.hs6 h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2rem 0;
  text-align: center;
}

.habilidades .hard-skills .titulo-hard {
  grid-area: hard;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidades .soft-skills .titulo-soft {
  grid-area: soft;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidades .hard-skills .hs1 {
  grid-area: hs1;
}

.habilidades .hard-skills .hs2 {
  grid-area: hs2;
}

.habilidades .hard-skills .hs3 {
  grid-area: hs3;
}

.habilidades .hard-skills .hs4 {
  grid-area: hs4;
}

.habilidades .hard-skills .hs5 {
  grid-area: hs5;
}

.habilidades .hard-skills .hs6 {
  grid-area: hs6;
}

.habilidades .soft-skills .ss1 {
  grid-area: ss1;
}

.habilidades .soft-skills .ss2 {
  grid-area: ss2;
}

.habilidades .soft-skills .ss3 {
  grid-area: ss3;
}

.habilidades .soft-skills .ss4 {
  grid-area: ss4;
}

.habilidades .soft-skills .ss5 {
  grid-area: ss5;
}

.habilidades .soft-skills .ss6 {
  grid-area: ss6;
}

.habilidades .soft-skills .ss1,
.ss2,
.ss3,
.ss4,
.ss5,
.ss6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.habilidades .soft-skills .ss1 .fa-person,
.ss2 .fa-comments,
.ss3 .fa-shapes,
.ss4 .fa-briefcase,
.ss5 .fa-brain,
.ss6 .fa-users {
  font-size: 7.6rem;
  color: var(--cor-padrao);
}

.habilidades .soft-skills .ss1 h3,
.ss2 h3,
.ss3 h3,
.ss4 h3,
.ss5 h3,
.ss6 h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2rem 0;
  text-align: center;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  padding: 0 10rem;
  align-items: center;
  position: relative;
}

.footer p {
  font-size: 1.3rem;
  color: var(--cor-da-letra);
}

.footer p a {
  font-size: 1.3rem;
  color: var(--cor-da-letra);
}

.footer p a:hover {
  text-decoration: underline;
}

.footer .voltar .fa-arrow-up {
  font-size: 2rem;
  color: var(--cor-da-letra);
  animation: downarrow 0.6s infinite alternate ease-in-out;
  position: absolute;
  right: 50px;
  top: 34%;
}

